/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}
.center{
    text-align:left;
}
table{
    width: 100%
}

h1.locationStyle {
    position: relative;
    top: 25px;
    font-size: 24px;
    left: 20px;
    text-align: left;
}
.mat-tab-labels {
    position: inherit;
    top:10px;
}

h1.center {
    font-size: 30px;
}

td h3 {
    font-size: 20px;
}